table
  width: 100%
  th, td
    width: 25px
    padding: 6px
  td
    cursor: pointer
    transition: background-color 300ms ease-out
    &:hover
      background-color: rgba(0, 0, 0, 0.2)
    &.title:hover
      background-color: transparent
